.evo-header-padding {
    padding: 15px 0;
}

.header {
    .header-logo {
        .box-logo {
            height: 80%;
        }
        img {
            width: 100%;
            max-height: 70px;
        }
    }
    .menu-icon i {
        font-size: 2rem;
    }
    .header-account i {
        font-size: 1.7rem;
    }
}
// List group nav
.list-group {
    border-radius: none;
    .list-group-item-link {
        border-top: 1px solid #d4d4d4;
        padding: .5rem;
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        // &:hover {
        //     background-color: aqua;
        // }
    }
    &:last-child {
        border-bottom: 1px solid #d4d4d4;
    }
}

.link-active {
    color: rgb(251, 115, 12);
}

// Md Screen
@media screen and (min-width: 768px) {
    .menu-icon i {
        font-size: 2rem;
    }
    .header-account i {
        font-size: 1.7rem;
    }
}

// Lg Screen
@media screen and (min-width: 992px) {
}


